# ===================================================================
# tpRigToolkit-libs-controlrig requirements file
# ===================================================================

Qt.py
tpDcc-core